body{
    background: rgb(197, 222, 188);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10%;
    padding: 0;
}


nav{
    background: rgb(140, 186, 164);
    padding: 20px;
    margin: 0 -13%;
    text-align: center;
}
nav li {
    display: inline-block;
    margin-left: 20px;
}


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li:hover{
    background-color: black;
}
a{
    text-decoration: none;
}

.socials li {
    display: inline-block;
    margin-left: 20px
}

.selection{
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.selection li {
    display: inline-block;
    margin-left: 1%;
}
.selection-top{
    background: rgb(140, 186, 164);
    -transform: rotate(-2.66deg);
    margin-left: -13%;
    margin-right: -13%;
    text-align: center;
    position: relative;
    z-index: 3;
    margin-top: 50px;
    white-space: nowrap;
}
.selection-bottom{
    background: rgb(236, 255, 224);
    -transform: rotate(2.65deg);
    margin-left: -13%;
    margin-right: -13%;
    text-align: center;
    position: relative;
    z-index: 2;
    white-space: nowrap;
}


.project-box{
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.project-box div {
    background: rgb(236, 255, 224);
    width: 318px;
    height: 198px;
    margin: auto;
}


.about-me{
    padding: 10% 5%;
    display: flex;
    flex-direction: row;
}
.about-me div{
    margin: auto;
    text-align: center;
    height: 450px;
}
.fav-games{
    width: 25%;
    background: rgb(236, 180, 95);
}
.fav-games ul li{
    display: list-item;
    padding: 0 10px;
}
.me{
    width: 48%;
    background: rgb(140, 186, 164);
}
.image-of-me{
    width: 25%;
    background: rgb(236, 255, 224);
}


footer{
    background: rgb(140, 186, 164);
    padding: 22px;
    margin: 0 -13%;
    text-align: center;
}
footer li{
    display: inline-block;
    margin-left: 20px;
}